.sidebarfile_container {
    &:hover {
        background-color: #CDCABE;
        cursor: pointer;

        .sidebarfile_link {
            font-weight: bold;
        }
    }

    .sidebarfile_link {
        background-color: none;
        text-decoration: none;
        color: black;
    }
}