html, body {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    scroll-behavior: smooth;
}

.section {
    min-height: 100vh;
    background-color: pink;
}

svg {
    height: 10vh;   
}

#person-svg {
    fill: blue;
}

.hidden-text {
    display: none;  
}

#person-svg:hover {
    fill: red;  
}

#person-svg:hover + .hidden-text {
    display: inline-block;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;   
}