:root {
    --very-dark-grey: #1B1B1B; 
    --dark-gray: #3A3A3A;
    --font-color: white;
    --highlight: #888888;
    --scroll-bar: white;
    --scroll-bar-used: #888888;
}

html, body, p, li, ul {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: var(--font-color);
    list-style-type: none;
    list-style: none;
    scroll-behavior: smooth;

}

body {
    overflow: hidden;
}

#projects {
    height: 100vh;
}

svg {
    width: 2vw;     
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.sidebar-contents {
    background-color: var(--dark-gray);
    width: 5vw;
    transition: width 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden-text {
    display: none;
    font-size: 1.5vw;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.sidebar {
    width: 4.8vw;
    transition: width 0.2s;
    background-color: var(--very-dark-grey);
}

.sidebar:hover {
    width: 15vw;    
}

.sidebar:hover .hidden-text {
    display: inline;
    height: auto;
    width: auto;
}

.sidebar-link {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

a:visited {
    text-decoration: none;
    color: var(--font-color);
}


.sidebar:hover a {
    justify-content: left;
    padding-left: 0.4vw;
}

.sidebar-contents {
    width: 4.6vw;
    height: 100vh;
    position: fixed;
    transition: width 0.2s;
}

.sidebar:hover .sidebar-contents {
    width: 13vw;    
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li {
    width: 100%;
    margin-bottom: 3vh;
}

li:hover {
    background-color: var(--highlight);
}

.content {
    width: 100%;
    background-color: var(--very-dark-grey);
}

.section {
    background-color: var(--very-dark-grey);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: --scroll-bar --scroll-bar-used;
    scrollbar-width: thin;
    padding-left: 1vw;
}

h1 {
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 1.5vw;
}