<div class="window_container border border-5 border-black position-absolute" style="bottom: -150px; right: 30px;"> 
    <div class="border-bottom border-5 border-black p-1">
        <div class="d-flex justify-content-end align-items-center gap-2">
            <app-window-button [class]="`btn btn-success`" [width]="`25px`"></app-window-button>
            <app-window-button [class]="`btn btn-warning`" [width]="`25px`"></app-window-button>
            <app-window-button [class]="`btn btn-danger`" [width]="`25px`"></app-window-button>
        </div>
    </div>

    <div class="image_container">
        <p>image-container works!</p>
    </div>
</div>