.window_container {
    background-color: var(--background-color);
}

.small {
    height: 200px;
    width: 200px;
}

.medium {
    height: 300px;
    width: 300px;
}

.large {
    height: 500px;
    width: 500px;
}
