<app-header tagName="h1">hit me up!</app-header>

<div class="image-container d-flex gap-3 align-items-center">
    <app-icon-container src="https://cdn-icons-png.flaticon.com/256/25/25231.png" link="https://github.com/enricosebastian"></app-icon-container>
    <app-icon-container src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/512px-Gmail_icon_%282020%29.svg.png?20221017173631" link="mailto:enricosebastiansalazar@gmail.com"></app-icon-container>
    <app-icon-container src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/960px-LinkedIn_logo_initials.png" link="https://linkedin.com/in/enricosebastian"></app-icon-container>
</div>