<div class="container border border-5 border-black">
  <div id="topbar" class="row border-bottom border-5 border-black">
    <div class="col d-flex gap-3 py-1">
        <span class="topbar_option fs-4 p-1">File</span> 
        <span class="topbar_option fs-4 p-1">Edit</span>  
        <span class="topbar_option fs-4 p-1">View</span> 
    </div>

    <div class="col py-1 text-end">
        <span class="topbar_option fs-4 p-1"><button type="button" class="btn btn-primary rounded-circle"></button></span> 
        <span class="topbar_option fs-4 p-1"><button type="button" class="btn btn-primary rounded-circle"></button></span>  
        <span class="topbar_option fs-4 p-1"><button type="button" class="btn btn-primary rounded-circle"></button></span> 
    </div>
  </div>

  <div id="maincontent" class="row">
    Row2
  </div>
</div>