<div class="text-truncate">
    <div class="px-1 sidebar_folder_label w-100 fs-5 d-flex align-items-center" 
        (click)="isCollapsed = !isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
    >
        <span class="material-symbols-outlined">{{ isCollapsed ? `chevron_right` : `keyboard_arrow_down`}}</span>
        <span>
            {{this.name}}
        </span>
    </div>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <ng-content></ng-content>
    </div>
</div>