@import "colors";
@import "fonts";

body {
    font-family: $main-font;
    background-color: $background-color;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    padding-left: 200px;
    padding-right: 200px;
}