@import "colors";
@import "fonts";

body {
    font-family: $main-font;
    background-color: $background-color;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    padding-left: 400px;
    padding-right: 400px;

    @media (max-width: 1500px) {
        padding-left: 20vw;
        padding-right: 20vw;
    }

    @media (max-width: 1100px) {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}