@import "colors";
@import "fonts";

.footer {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 2px solid;
        width: 100%;
    }

    .smallHr {
        width: 80%;
    }

    .details {
        width: 80%;
        text-align: center;
    }
}