@import "colors";
@import "fonts";

.header {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .name {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        position: relative;

        h1 {
            background-color: $background-color;
            font-size: 40px;
            z-index: 2;
            padding-left: 15px;
            padding-right: 15px;
        }

        hr {
            width: 100%;

            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 2px solid;

            position: absolute;
        }
    }

    ul {
        margin: 0px;
        padding: 0px;

        li {
            font-size: 24px;

            list-style: none;
            display: inline-block;
            margin-left: 12px;
            margin-right: 12px;
            text-align: center;
        }
    }
}