<app-header tagName="h1">anytime mailbox</app-header>
<app-span tagName="b" [isBold]="true">full stack .net developer (april 2024 to present)</app-span>
<p>handling frontend, backend, and everything in between! created and exposed API endpoints that communicated with several internal projects and mobile applications, integrated third-party apis, and manned the development of several frontend components using blazor and bootstrap. i also work on a separate project that focuses more on UI and automation testing, using NUnit and Selenium WebDriver</p>
<div class="position-relative w-100 h-50 mb-5">
    <app-image-container zindex="1" [imageSize]="ImageSize.SMALL" bottom="20px" right="180px" src="https://live.staticflickr.com/65535/54590586359_b39cecdb30.jpg"/>
    <app-image-container zindex="1" [imageSize]="ImageSize.SMALL" [hideable]="true" bottom="0px" right="0px" src="https://live.staticflickr.com/65535/54590395231_08b26c2224_b.jpg"/>
</div>

<app-header tagName="h1">samsung electronics</app-header>
<app-span tagName="b" [isBold]="true">software engineer cl2 (june 2023 to march 2024)</app-span>
<p>was part of a big project regarding samsung smart tvs. a great deal of my stay in samsung involved going in business trips across samsung korea and samsung india hq</p>

<div class="position-relative w-100 h-50 mb-5">
    <app-image-container zindex="1" [imageSize]="ImageSize.SMALL" [hideable]="true" bottom="50px" left="0px" src="https://live.staticflickr.com/65535/54589495877_7a96bf5473_c.jpg"/>
    <app-image-container zindex="1" [imageSize]="ImageSize.SMALL" bottom="0px" left="180px" src="https://live.staticflickr.com/65535/54590686895_175ed025f7_b.jpg"/>
</div>

<app-header tagName="h1">willis towers watson</app-header>
<app-span tagName="b" [isBold]="true">full stack .net developer intern (apr 2022 to sep 2022)</app-span>
<p class="pb-5">ef core, asp.net core mvc, mssql, azure—everything a microsoft fan could ever dream of. i interned at wtw and handled their learning experience platform, a web application that involved being both a frontend and backend developer, along with unit tester for some of the services and repositories i made</p>