<app-header tagName="h1">education</app-header>
<p>i graduated <span class="fw-bold">bs electronics engineer, with a minor in software applications</span> at <span class="fw-bold">de la salle university - manila</span></p>
<p>september 2018 to april 2023</p>

<app-header tagName="h2">college orgs</app-header>
<ul>
    <li>the lasallian</li>
    <li>electronics and communications engineering society</li>
    <li>goolge developer student club</li>
    <li>aiesec</li>
</ul>

<div class="position-relative w-100 flex-grow-1">
    <app-image-container zindex="0" [hideable]="true" [imageSize]="ImageSize.SMALL" bottom="50px" right="0px" src="https://live.staticflickr.com/65535/54584410149_a6d7b0f509_z.jpg"/>
    <app-image-container zindex="1" [imageSize]="ImageSize.SMALL" bottom="0px" right="150px" src="https://live.staticflickr.com/65535/54584445118_11c32bc90d_c.jpg"/>
</div>