<div class="h-100 pt-5">
    <h1>hello, world</h1>
    <p>i am enrico sebastian salazar, a full stack developer. i have about four to five years of experience specializing in .NET technology, specifically ASP.NET. that doesn't mean to say i don't dabble in things like react and angular—that latter of which was used to build this site!</p>
    <app-image-container zindex="0" [imageSize]="ImageSize.SMALL" bottom="50px" right="50px" src="https://live.staticflickr.com/65535/54582825762_88819724e6_c.jpg"/>
    <app-image-container zindex="1" [imageSize]="ImageSize.SMALL" bottom="0px" right="200px" src="https://live.staticflickr.com/65535/54584012595_bb37fea45e.jpg"/>
    <app-image-container zindex="0" [imageSize]="ImageSize.SMALL" bottom="35px" right="350px" src="https://live.staticflickr.com/65535/54583696696_47c7d2179d_z.jpg"/>
</div>