<div class="container h-100 d-flex flex-column border border-5 border-black">

  <!-- Top bar (fixed height or content-based height) -->
  <div id="retrotopbar" class="row border-bottom border-5 border-black">
    <div class="col d-flex gap-3 py-1">
        <span class="retrotopbar_option fs-4 p-1">File</span> 
        <span class="retrotopbar_option fs-4 p-1">Edit</span>  
        <span class="retrotopbar_option fs-4 p-1">View</span> 
    </div>

    <div class="col py-1">
      <div class="d-flex justify-content-end align-items-center h-100 gap-2">
        <app-window-button [class]="`btn btn-success`"></app-window-button>
        <app-window-button [class]="`btn btn-warning`"></app-window-button>
        <app-window-button [class]="`btn btn-danger`"></app-window-button>
      </div>
    </div>
  </div>

  <!-- Main content fills the rest -->
  <div id="maincontent" class="row p-5 h-100 overflow-hidden">
    <app-main-app class="p-0 h-100 overflow-hidden"></app-main-app>
  </div>

</div>