@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$main-font: 'IBM Plex Mono', monospace;
$background-color: #FDF7ED;

body {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    background-color: pink;

    display: grid;
    grid-template-rows: auto auto auto;

    .header {
        font-family: $main-font;
        font-weight: bold;
        font-weight: 700;
        min-height: 250px;
        background-color: red;
        font-size: 50px;
    }

    .body {
        min-height: 500px;
        background-color: green;
    }

    .footer {
        min-height: 250px;
        background-color: yellow;
    }
}